@model Art.Web.Areas.Shop.Models.ProductModel

@{
    ViewBag.Title = "Product";

    string starClass = "stars" + Model.AvgStars;
}


<div class="row row-backlink">
    <div class="span10">
        <a class="back-link" href="javascript:window.history.back();"><i class=" icon-chevron-left"></i>back to previous page</a>
    </div>
</div>

<div class="row box-noborder" style="padding-top: 30px;">
    <div class="span5">
        <img class="thumbnail" src="/images/@Model.Image" width="360" alt="">
    </div>
    <div class="span7">
        <div style="padding-right: 20px;">

            <h4>@Model.Title</h4>
            <p>@Model.Description</p>

            <form>

                <input type="hidden" name="id" id="id" value="@Model.Id" />

                <table>
                    <tr>
                        <td style="width: 300px; height: 35px;"><i class="@starClass"></i></td>
                        <td colspan="2">
                            <div id="cart-alert" class="alert alert-success alert-add-cart">&nbsp;</div>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 16pt;">@Model.Price</span> </td>
                        <td style="width: 120px;">
                            <button id="submit" class="btn btn-warning" style="margin-top: 0px;">Add to Cart</button>
                        </td>
                        <td style="width: 180px;">
                            <select name="count" id="count" style="width: 60px;">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>

            <br />
            <br />
            <div style="margin: 0 25px 100px 0;">
                by <strong>@Model.Artist.FirstName @Model.Artist.LastName</strong>, @Model.Artist.LifeSpan<br />
                @Model.Artist.Country
                <br />
                <br />
                @Model.Artist.Description
                <span style="font-size: 9pt; color: #777;">-- source: Wikipedia</span>
            </div>

        </div>
    </div>

</div>

@section Scripts
{
    <script type="text/javascript">

        // see our "Pro JavaScript and jQuery Patterns" package for details

        // ** namespace pattern 
        // ** revealing module pattern
        // ** singleton pattern
        Patterns.namespace("Art").Product = (function () {

            var utils = Patterns.Art.Utils;
            var app = Patterns.Art.App;

            var addToCart = function (event) {

                // display success message
                var count = $("#count").val();
                var items = count > 1 ? " art works" : " art work";
                $("#cart-alert").html("Added " + count + items + " to your cart.").fadeIn(500).delay(2500).fadeOut(2000);

                // refreshes cart display at top
                app.updateCartOnPage(1);

                var $form = $(this);

                var options = {
                    url: "/cart",
                    type: "POST",
                    data: $form.serialize()
                };

                // ** fire and forget -- CQRS pattern
                $.ajax(options);

                return utils.stopEvent(event);
            }

            var activateControls = function () {
                $("form").submit(addToCart);
            };

            var start = function () {
                activateControls();
            };

            // the revealing part of revealing module pattern
            return { start: start };
        })();


        $(function () {

            // ** facade pattern
            product = Patterns.Art.Product;
            product.start();

        });
    </script>
}

